&-list {
  position: absolute;
  width: 192px;
  padding: 12px;
  filter: drop-shadow(4px 10px 24px rgba(25, 36, 54, 0.1));
  left: 0;
  top: calc(100% + 41px);
  background: $white0;
  border-radius: 9px;
}

&-rectangle {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  left: 26%;
  background-color: $white0;
  transform: rotate(-45deg);
  z-index: 1;
}

&-item {
  padding: 12px 5px 13px 20px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $gray50;
  }
}
