.sign-up-success {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 28px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: $gray50;
      width: calc(100% + 32px);
      margin-left: -16px;
    }

    &-title {
      line-height: 24px;
      letter-spacing: 1px;
      color: $gray900;
      font: {
        family: "SF Pro Display", sans-serif;
        weight: 600;
        style: normal;
        size: 16px;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;
    background-color: $gray50;
    border-radius: 50%;
    margin-bottom: 28px;
  }

  &__title {
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: $gray900;
    margin-bottom: 40px;
    font: {
      family: "SF Pro Display", sans-serif;
      size: 22px;
      weight: 900;
    }
  }

  @media screen and (min-width: $screen-sm) {
    & {
      margin-top: 8px;
    }

    &__header {
      padding: 0;
      margin: 0;
      position: static;

      &:before {
        content: none;
      }

      &-title {
        display: none;
      }

      &-cancel {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
      }
    }
  }
}
